body {
  background-image: url("/images/background.png");
}

#logo {
  height: 500px;
  max-width: 100%;
}

#logo,
button,
input {
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

#icon,
#descID,
#arenaID,
#imgID {
  height: 50px;
  max-width: 100%;
}

.row {
  margin: 35px;
}

#theadID {
  visibility: collapse;
}

#helpbuttons {
  color: white;
}

#table1 {
  text-align: center;
  vertical-align: middle;
  table-layout: auto;
}

#table1 img {
  max-width:30%;
}

#list-container{
  background-color: white;
  text-align: left;
  list-style-type: none;
  margin: 0;
}

.type{
  box-shadow: none !important;   
  background-size: cover;
  background-position: center;
}
.down{
  background-image: url("../images/incorrectDown.png");
}
.up{
  background-image: url("../images/incorrectUP.png");
}
.correct{
  background-image: url("../images/correctStat.png");
}
.incorrect{
  background-image: url("../images/incorrect.png");
}
